# dependencies
/node_modules
/.pnp
.pnp.js

# compilation result
/dist

# CA outputs
.certs

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rendered config files:
src/stacks/*/Pulumi.*.yaml
